*{
    margin:0px;
    padding:0px;
    
}
body{
    overflow-x: hidden;
}
.header{
    position:absolute;
    z-index:5;
   width:100%;
}
.height{
    width:150px;
}
.background{
    background-image:url("../images/background.png");
    background-repeat:no-repeat;
    min-height:100vh;
    background-size:cover;
    background-position: center;
    padding:220px 0 220px;
   
}
.background:before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:400px;
    z-index: 1;
    background: linear-gradient(to bottom,#000,transparent);
}
.input{
    height:50px;
}
.font{
    font-size:50px;
}
/* .width{
    width:600px;
    height:480px;
    background-image: url("../images/tv\ \(1\).png");
    background-color:red;
    background-repeat: no-repeat;
} */
/* .vedio{
    margin-left:70px;
    width:470px;
    margin-top:100px;
} */
.bg{
    background: black;
    height:500px;
    width:100%;
}
.bg1{
    background-color:black;
}
.width{
    width:500px;
    margin-top:150px!important;
}
.padding{
    margin-top:100px;
}
.accordion {
    background-color: #444;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 60%;
    border: none;
    text-align: left;
    outline: none;
    margin-top: 10px;
    font-size: 35px;
    transition: 0.4s;
  }
  

  
  .accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
    
  }
  
  .panel {
    padding: 0 20px;
    background-color: #444;
    margin-top:1px;
    text-align: left;
    color: white;
    width:60%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
ul,li,a{
    color:gray;
    text-decoration: none;
}
ul,li,a:hover{
color:gray;
text-decoration: underline;
}
@media only screen and (max-width: 780px) {
    video {
      width: 300px;
      margin-left:100px;
    }
    .padding{
        margin-top:10px;
    }
    .small{
        width:300px;
    }
    .top{
        text-align: center;
    }
  }
  @media only screen and (max-width: 1200px) {
    .width{
        width:750px;
        margin-top:5px!important;
    }
    video {
        width: 300px;
        margin-left:100px;
      }
    .larger{
        width:400px;
    }
  }
    @media only screen and (max-width:500px){
.width{
        width:300px;
        margin-top:5px!important;
    }
    .larger{
        width:250px;
    }
}
@media  screen and (max-width:950px) {
    video {
        width: 200px;
        margin-left:100px;
      }
}
@media screen and (min-width:815px){
    body{
        overflow-x: hidden;
    }
}